<div align="Center">
    <h2>Create a Contact</h2>

    Name: <input type="text" /> <br />
    <br />

    Contact: <input type="text" /> <br />
    <br />
    Email: <input type="email" />

    <br />
    <br />
    Date of Birth: <input type="date" /> <br />
    <br />
    <button type="button">Create Contact</button>
</div>